*.pyc
__pycache__
*.log
venv
env
backend/public/media/*
!backend/public/media/_empty_
backend/public/static/*
!backend/public/static/_empty_
logs/*
!logs/_empty_
backend/logs/*
!backend/logs/_empty_
backend/test_results
.idea
db.sqlite3


# C extensions
*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

backend/*.env

# Translations
*.mo

package-lock.json
assets-dist
webpack-stats.json
node_modules

*.coverage
